* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
}

body{
  background: url("../img/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: top center;
  height: 100vh;
  position: relative;
  z-index: 0;
}

body::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 100;
  background: rgba(0,0,0,0.5);
}

main {
  position: relative;
  z-index: 1000;
  color: #eee;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  padding-bottom: 100px;
}

.titles-container{
  user-select: none;
  margin-right: 4%;
  font-size: 20px;
  font-weight: bold;
  width: 85%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  color: #ccc;

}

.titles-container > * {
  transition: text-shadow 0.3s;
}

.titles-container > *:hover {
  text-shadow: 0 0 3px #fff;  
}

.greeting {
  font-size: 50px;
  margin-bottom: 125px;
}

.fullname {
  font-size: 25px;
}

.role {
  font-size: 35px;
  margin-bottom: 30px;
}

#about-me {
  margin-right: 4%;
  color: #eee;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 25px;

  border: 3px solid rgb(23, 172, 23);
  border-radius: 20px;
  box-shadow: 0 0 10px 5px rgb(23, 172, 23);
  transition: all 0.45s;
}

#about-me:hover {
  border-color: transparent !important;
  box-shadow: none;
  text-shadow: 0 0 3px #fff !important;
}

@media screen and (min-width: 768px){

  main {
    justify-content: flex-start;
    gap: 0;
    padding-top: 40vh;
  }

  .titles-container {
    text-align: center;
  }

  .greeting {
    margin-bottom: 30px;
    font-size: 70px;
  }
  
  .fullname {
    font-size: 35px;
  }
  
  .role {
    font-size: 50px;
    margin-bottom: 30px;
  }
  

  #about-me {
    margin-top: 10vh;
    font-size: 25px;
    border-radius: 20px;
  }

  #about-me:hover {
    font-size: 27.5px;
  }
}

@media screen and (min-width: 1050px){

  main {
    padding-top: 25vh;
  }

  .titles-container {
    margin-right: 0;
    text-align: left;
  }

  #about-me {
    margin-top: 25vh;
  }
}

.gradient {
  background-image: linear-gradient(90deg, rgb(52, 226, 52), rgb(30, 218, 243));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: none !important;
}

@media screen and (min-width: 1921px){   
  body::before,
  body {
    margin: 0 auto;
    max-width: 1920px;
  }

  body {
    background-size: initial;
  }

  main {
    padding-top: 300px;
  }

  #about-me {
    margin-top: 250px;
  }
}